body{
    font-family: Arial, sans-serif;
    background-color: #bb81ce;
    margin: 0;
    padding: 20px;
}

.form-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}

h1{
    text-align:center;
    color: #333;
}

label{
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#json-output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;
}

#copy-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#copy-button:hover {
    background-color: #0056b3;
}

/* Tooltip Styles */
.tooltip-container {
    display: inline-block;
    position: relative;
    margin-left: 5px;
}

.tooltip-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #007bff;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
